/* ---FONTS--- */


/* ------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #000;
	background: #fff;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 6;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
	pointer-events: all;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container-l {
	width: 1540px;
	margin: 0 auto;
}
.container {
	width: 1180px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.dif {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.aic {
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.jcsb {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.jcc {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.fww {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.aifs {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.aife {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.fdc {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.jcfe {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.trans {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.obj-cover img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.obj-cont img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: contain;
	   object-fit: contain;
}
.asfe {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
}
iframe {
    max-width: 100%;
}
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title-xl {
	font-weight: 700;
	font-size: 46px;
	line-height: 54px;
}
.title-l {
	
	font-weight: 800;
	font-size: 42px;
	line-height: 49px;
}
.title-m {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
}
.title-s {
	font-weight: 800;
	font-size: 36px;
	line-height: 42px;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.btn {
	background: #E71D73;
	color: #fff;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
	        border-radius: 100px;
}
.btn:hover {
	opacity: 0.8;
	text-decoration: none;
}
.center {
	text-align: center;
}
.hidden {
	display: none;
}
/* ---------------breadcrumbs----------------- */


/* ----STARS---- */

.stars {
	width: 115px;
	margin-left: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}
.rating__star span {
	overflow: hidden;
	display: block;
	height: 100%;
	font-size: 0;
	line-height: 18px
}
.rating__star {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 18px;
	margin: 0 2.5px;
	text-align: center;
	background: url('../img/svg/star-trans.svg') no-repeat 0 0 / cover;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	background-size: 100%
}


/* -----ICONS--- */

/* -----------------------------Header---------------------------- */

.header__container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 14px 19px 11px;
}
.header__gender li {
	min-width: 80px;
}
.header__gender li:not(:last-child) {
	margin-right: 40px;
}
.header__gender li.active a {
	font-weight: 800;
}
.header__gender li a:hover {
	text-decoration: none;
}
.header__gender li.active a:after,
.header__gender li a:hover::after {
	background: #000;
}
.header__gender li a {
	position: relative;
	-webkit-transition: none;
	-o-transition: none;
	-moz-transition: none;
	transition: none;
}
.header__gender li a:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -9px;
	height: 1px;
	background: transparent;
}
.header__btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__btn:not(:last-child) {
	margin-right: 40px;
}
.header__btn-img {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 8px;
}
.header__btn:hover {
	text-decoration: none;
	opacity: 0.8;
}
.header__bottom {
	background: #000;
}
.header__bottom .header__container {
	padding: 20px 32px 19px;
}
.header__nav a {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}
.header__nav a svg {
	margin-right: 10px;
}

.main {
	background: url('../img/main-bg.png') no-repeat 0 0 / cover;
	padding: 104px 0 570px;
}
.main__wrap {
	width: 47%;
	margin-left: auto;
}
.main__wrap .title-m {
	max-width: 476px;
	color: #E71D73;
	margin-bottom: 25px;
}
.main__wrap p {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 48px;
	max-width: 389px;
}
.main__btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	padding: 24px 85px 25px 105px;
	position: relative;
}
.main__btn svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 24px;
	margin: auto 0;
}
.best__wrap .title-s {
	margin-bottom: 16px;
}
.best__slider {
	margin: 0 -10px;
}
.best__card-wrap {
	width: 25%;
	padding: 0 10px;
}
.best__card {
	position: relative;
	padding: 48px 24px 24px;
	overflow: hidden;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 19px rgba(91, 91, 91, 0.1);
	   -moz-box-shadow: 0px 4px 19px rgba(91, 91, 91, 0.1);
	        box-shadow: 0px 4px 19px rgba(91, 91, 91, 0.1);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}
.best__card-label {
	position: absolute;
	-webkit-border-radius: 20px 0;
	   -moz-border-radius: 20px 0;
	        border-radius: 20px 0;
	top: 0;
	left: 0;
	height: 79px;
	width: 43px;
	color: #FFFFFF;
	font-weight: 700;
}
.best__card-label span {
	white-space: nowrap;
	-webkit-transform: rotateZ(-90deg);
	   -moz-transform: rotateZ(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotateZ(-90deg);
	        transform: rotateZ(-90deg);
}
.best__card-label.blue {
	background: #95AEDB;
}
.best__card-label.black {
	background: #000;
}
.best__card-label.yellow {
	background: #F8CE62;
}
.best__card-like {
	position: absolute;
	top: 20px;
	right: 24px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 11.3448px 22.6897px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 11.3448px 22.6897px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 11.3448px 22.6897px rgba(0, 0, 0, 0.1);
	width: 47px;
	height: 47px;
}
.best__card-like:hover {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.best__card-like.red svg path {
	fill: red;
}
.best__card-img {
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	max-width: 266px;
	max-height: 266px;
	margin: 0 auto;
	display: block;
	margin-bottom: 29px;
}
.best__card-line {
	margin-bottom: 5px;
}
.best__card-name {
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	width: 50%;
	display: inline-block;
}
.best__card-typeitem {
	width: 35px;
	height: 35px;
	display: block;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	padding: 5px;
	border: 1px solid transparent;
}
.best__card-typeitem span {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.best__card-typeitem.black span {
	background: #000;
}
.best__card-typeitem.red span {
	background: #D2151C;
}
.best__card-typeitem.orange span {
	background: #F65F2F;
}
.best__card-typeitem.yellow span {
	background: #F6CE2F;
}
.best__card-typeitem.active {
	border-color: #DFDFDF;
}
.best__card-art {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	opacity: 0.25;
	margin-bottom: 15px;
}
.best__card a:hover {
	text-decoration: none;
}
.best__card-price {
	font-weight: 500;
}
.best__card-bottom .btn {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding: 11px 32px;
}
.best__card-bottom .btn svg {
	margin-right: 10px;
}
.main__best {
	margin-top: -283px;
	padding-bottom: 34px;
}
.slick-arrow {
	background: #FFFFFF !important;
	-webkit-box-shadow: 0px 4px 44px rgba(104, 104, 104, 0.25);
	   -moz-box-shadow: 0px 4px 44px rgba(104, 104, 104, 0.25);
	        box-shadow: 0px 4px 44px rgba(104, 104, 104, 0.25);
	width: 51px !important;
	height: 51px !important;
	opacity: 1 !important;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	z-index: 3;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow:after {
	content: '';
	display: block;
	width: 11px;
	height: 20px;
}
.slick-prev::after {
	background: url('../img/svg/slickprev.svg') no-repeat 0 0 / cover;
}
.slick-next::after {
	background: url('../img/svg/slicknext.svg') no-repeat 0 0 / cover;
}
.slick-prev {
    left: -15px !important;
}
.slick-next {
    right: -15px !important;
}

/* ------why------ */

.why {
	background: #F7F7F7;
	padding: 47px 0 38px;
}
.why .title-s {
	margin-bottom: 61px;
}
.why__card-wrap {
	width: 25%;
	padding-right: 50px;
}
.why__card-img {
	background: #E71D73;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	width: 68px;
	height: 68px;
	margin-bottom: 20px;
}
.why__card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 13px;
}
.why__card {
	max-width: 289px;
}
.why__card p {
	font-weight: 500;
}

/* -----examples--- */

.examples {
	padding: 35px 0;
}
.examples .title-l {
	margin-bottom: 23px;
}
.examples__wrap {
	margin: -10px;
}
.examples__item-wrap {
	padding: 10px;
	width: 50%;
}
.examples__item:first-child {
	margin-right: 20px;
}
.examples__item-sm:first-child {
	margin-bottom: 20px;
}
.examples__item-big,
.examples__item-sm {
	overflow: hidden;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

/* ------pijams------ */
.pijams {
	padding-bottom: 10px;
}
.pijams__wrapper {
	padding: 18px 0 487px;
	position: relative;
}
.pijams__wrapper::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 580px;
	z-index: 1;
	background: url('../img/pij-bg.png') no-repeat 0 0 / cover;
}
.pijams__title {
	position: relative;
	z-index: 2;
	margin-bottom: 53px;
	display: inline-block;
}
.pijams__title:after {
	content: '';
	display: block;
	position: absolute;
	width: 203px;
	height: 65px;
	right: -228px;
	top: 0;
	background: url('../img/svg/logo.svg') no-repeat 0 0 / cover;
}
.pijams__wrap {
	position: relative;
	z-index: 2;
	margin: -12px;
}
.pijams__item-wrap {
	padding: 12px;
	width: 33.33%;
}
.pijams__item {
	padding: 20px 31px 26px;
	background: #FFFFFF;
	height: 100%;
	-webkit-box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
}
.pijams__item-img {
	width: 45px;
	height: 45px;
	margin-right: 23px;
}
.pijams__item-info {
	max-width: -webkit-calc(100% - 68px);
	max-width: -moz-calc(100% - 68px);
	max-width: calc(100% - 68px);
	padding-top: 12px;
}
.pijams__item-title {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 20px;
}
.pijams__item p {
	opacity: 0.7;
}
.pij__best {
	margin-top: -54px;
	padding-bottom: 20px;
	position: relative;
	z-index: 3;
}

/* ----toys----- */
.toys {
	padding-bottom: 22px;
}
.toys__wrapper {
	padding: 81px 0 504px;
	color: #fff;
	text-align: center;
	background: url('../img/toys.png') no-repeat 0 0 / cover;
}
.toys__wrapper .title-l {
	margin-bottom: 8px;
}
.toys__wrapper p {
	font-weight: 500;
	max-width: 389px;
	margin: 0 auto;
}
.slick-list {
	padding-bottom: 16px !important;
}
.how {
	padding-bottom: 68px;
}
.how__wrapper {
	max-width: 1378px;
	margin: 0 auto;
	color: #fff;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	        border-radius: 50px;
	background: url('../img/how-bg.png') no-repeat 0 0 / cover;
	padding: 81px 93px 70px 99px;
}
.title-text {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
.how__wrapper .title-text {
	font-weight: 400;
	font-size: 42px;
	line-height: 49px;
}
.how__wrapper .title-xl {
	margin-bottom: 86px;
}
.how__card {
	width: 25%;
	max-width: 260px;
	position: relative;
	text-align: center;
}
.how__card:after {
	content: '';
	display: block;
	position: absolute;
	right: -104px;
}
.how__card:nth-child(1)::after {
	width: 173px;
	height: 89px;
	background: url('../img/svg/arr1.svg') no-repeat 0 0 / cover;
	top: 73px;
	z-index: 0;
}
.how__card:nth-child(2)::after {
	width: 159px;
	height: 78px;
	background: url('../img/svg/arr2.svg') no-repeat 0 0 / cover;
	top: 55px;
	z-index: 0;
}
.how__card:nth-child(3)::after {
	width: 158px;
	height: 79px;
	background: url('../img/svg/arr3.svg') no-repeat 0 0 / cover;
	top: 73px;
	z-index: 0;
}
.how__card:nth-child(2n) {
	padding-top: 115px;
}
.how__img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #fff;
	margin-bottom: 39px;
	width: 105px;
	height: 105px;
}
.how__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 8px;
}
/* -----------sale------- */

.sale {
	padding: 68px 0 59px;
}
.sale__wrap {
	padding: 226px 0 130px;
	position: relative;
}
.sale__wrap:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 586px;
	height: 662px;
	background: url('../img/boy.png') no-repeat 0 0 / cover;
}
.sale__info {
	width: 50%;
	position: relative;
	z-index: 2;
}